@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  padding: 16px;
}

main {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-height: 360px;
  max-width: none;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 8px 8px 12px #00000077;
}

.time {
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  padding: 8px;
}

.image {
  max-width: 220px;
  width: 100%;
  border-radius: 16px;
  margin: 0 auto;
  box-shadow: 4px 4px 8px #00000077;
}

.verse {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  padding: 8px;
}

.text {
  font-size: 1em;
  text-indent: 1em;
  text-align: justify;
  padding: 8px;
}


@media screen and (min-height: 528px) {
  main {
    flex-direction: column;
    max-width: 360px;
    max-height: none;
  }
}
